<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/home}"> Back to Home</a>
<h1>Register Items</h1>
<p>This page allows you easily register your items into the system for data logging and easy retrieving</p>
<br>
<form th:action="@{/registered}" method="post">
    <label>Item Name</label><br>
    <input type="text" name="itemName"><br><br>
    <label>Item Price</label><br>
    <input type="number" name="itemPrice" step="0.01"><br><br>
    <label>
        Item Description<br>
        <textarea name="itemDesc"></textarea>
    </label><br>
    <input type="submit" value="Save">
</form>
</body>
</html>