<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/home}"> Back to Home</a>
<h1>Made an oopsie? :O <br>Not to worry, we got you ;)</h1>
<div>
    <form th:action="@{/update/{id}(id = ${item.id})}" method="post">
        <label for="ItemName">Item Name<br>
            <input type="text" name="name" th:value="${item.name}">
        </label><br><br>
        <label for="ItemPrice">Item Price<br>
            <input type="number" step="0.01" name="price" th:value="${item.price}">
        </label><br><br>
        <label for="ItemDescription">Item Description<br>
            <textarea name="description" th:value="${item.description}"></textarea>
        </label><br>
        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>