<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title layout:title-pattern="$CONTENT_TITLE">Item Management</title>
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdn.datatables.net/1.13.7/css/dataTables.bootstrap5.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body class="fixed-nav sticky-footer bg-light bg-gradient mt-6 mx-4" id="page-top">
<nav class="navbar sticky-top navbar-primary navbar-expand-lg bg-light mb-4 bg-gradient">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Item Management System</span>
    </div>
</nav>

<div class="content-wrapper">
    <div class="container-fluid">
        <section layout:fragment="content"></section>
    </div>
</div>

<footer th:replace="~{/fragments/footer}"></footer>

<!-- JS -->
<script src="https://code.jquery.com/jquery-3.7.0.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.7/js/dataTables.bootstrap5.min.js"></script>
<script>
    new DataTable('#dataTable');
</script>
</body>
</html>
